<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="assets/style.css" rel="stylesheet">
  <title>Uber das meninas</title>
</head>
<body>
  <header>
    <a href="motoristas.html" class="btn he">Motoras</a>
    <a href="usuarios.html" class="btn he">Usuários</a>    
  </header>
  <section class="corridas center">
    <h1 class="center">Histórico de corridas</h1>
    <table class="center">
      <tr>
        <th>Motorista</th>
        <th>Cliente</th>
        <th>Data</th>
        <th>Duração</th>
      </tr>
      <!-- cada tr vai ser injetado dinamicamente com php -->
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Ernst Handel</td>
        <td>Roland Mendel</td>
        <td>Austria</td>
        <td>Germany</td>
      </tr>
  </section>
</body>
</html>