<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="assets/style.css" rel="stylesheet">
  <title>Uber das meninas | Usuários</title>
</head>
<body>
  <header>
    <a href="motoristas.html" class="btn he">Motoras</a>
    <a href="index.html" class="btn he">Home</a>    
  </header>
  <section class="usuarios center">
    <h1 class="center">Usuários</h1>
    <form>
        <input type="submit" class="btn soli nov" value="NOVO">           
      </form>
    <table class="center">
      <tr>
        <th>Nome</th>
        <th>Status</th>
        <th>Corrida</th>
        <th>Excluir</th>
        <th>Editar</th>
      </tr>
      <!-- cada tr vai ser injetado dinamicamente com php -->
      <tr>
        <td>Maria Anders</td>
        <td>
          <form>
            <input type="submit" class="btn on status" value="ON">
          </form>
        </td>
        <td>
          <form>
            <input type="submit" class="btn soli" value="Solicitar">           
          </form>
        </td>
        <td>
          <form>
            <input type="submit" class="btn of" value="DEL">
          </form>
        </td>
        <td>
          <form>
            <input type="submit" class="btn soli" value="EDIT">           
          </form>
        </td>
      </tr>
      <tr>
        <td>Francisco Chang</td>
        <td>
          <form>
            <input type="submit" class="btn of status" value="OFF">
          </form>
        </td>
        <td>
          <form>
            <input type="submit" class="btn soli" value="Solicitar">           
          </form>
        </td>
        <td>
          <form>
            <input type="submit" class="btn of" value="DEL">
          </form>
        </td>
        <td>
          <form>
            <input type="submit" class="btn soli" value="EDIT">           
          </form>
        </td>
      </tr>
      <tr>
        <td>Roland Mendel</td>
        <td>
          <form>
            <input type="submit" class="btn of status" value="OFF">
          </form>
        </td>
        <td>
          <form>
            <input type="submit" class="btn soli" value="Solicitar">           
          </form>
        </td>
        <td>
          <form>
            <input type="submit" class="btn of" value="DEL">
          </form>
        </td>
        <td>
          <form>
            <input type="submit" class="btn soli" disabled="disabled" value="EDIT">           
          </form>
        </td>
      </tr>
  </section>
  <script  type="text/javascript" src="assets/script.js"></script>
  <script type='text/javascript' src='http://code.jquery.com/jquery.min.js'></script>
</body>
</html>